body {
  background-color: #4d88ff;
}
h1 {
  text-align: center;
}
h2 {
  text-align: center;
}
#nav-td {width: 200px; text-align: center;}
#my-banner {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
#nav-table {
  margin-left: auto;
  margin-right: auto;
}
#web-info {
  margin-left: auto;
  margin-right: auto;
  height: 200px;
  width: 45%;
}
